.table-container {
  display: block;
  width: 100%;
  padding: 16px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  border-radius: 10px;
}

.table-cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-row-container {
  background-color: white;
  margin-bottom: 16px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.name-cell {
  display: flex;
  align-items: center;
  gap: 12px;
}
.name-cell {
  display: flex;
  align-items: center;
  gap: 12px; 
}

.card-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #333;
  object-fit: cover;
  flex-shrink: 0; 
}

.card-name {
  font-weight: 500;
  color: #333;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  flex-grow: 1;
}


.rate-cell {
  color: #00d084;
  font-weight: 600;
}

.rate-dots {
  margin-left: 6px;
  letter-spacing: 2px;
  color: #00d084;
}

.actions-cell {
  display: flex;
  gap: 12px;
}

.action-button {
  background: #f3f4f6;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: #555;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button.edit:hover {
  background: #dbeafe;
  color: #2563eb;
}

.action-button.delete:hover {
  background: #fee2e2;
  color: #dc2626;
}

